@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.App {
  display: flexbox;
  text-align: center;
  @media (max-width: 960px;) {
    text-align: center;
    padding: 0 2% 1.25rem;
    font-size: 20px;
  }
}

h1 {
  font-family: "Press Start 2P", cursive;
  font-size: 30px;
  color: red;
  height: 30px;
}

.link {
  color: white;
}

.user-information {
  color: white;
}
